<% if (site.posts.length){ %>
    <div class="widget-wrap">
        <h3 class="widget-title">Follow Me</h3>
        <div class="widget">
            <a href="https://twitter.com/Oldgunix?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                data-show-count="false">Follow @Oldgunix</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <% } %>